{% extends "base.html" %}

{% block title %}Detalle{{ movie.title }}{% endblock title %}

{% block content %}
    <div class="p-2">
        <h1 style="font-size: 48px; font-weight: bold; margin-bottom: 30px;">{{ movie.title }}</h1>
        
        <p class="fs-5">Año de publicación: {{ movie.publication_year }}</p>
        <p class="fs-5">Director: {{ movie.director_name }}</p>
        <p class="fs-5">Género: {{ movie.genre }}</p>
        <p class="fs-5">Sinopsis: {{ movie.synopsis }}</p>

        <br>
        <a href="{% url 'movies:index' %}" style="color: #f10000; text-decoration: none; font-size: 14px;">
            ← Volver al listado
        </a>
    </div>
{% endblock content %}